<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<!-- ... -->
<script src="https://code.jquery.com/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="/fragments/header.html :: fragment-header"></div>
  <div th:replace="/fragments/nav.html :: fragment-nav"></div>
<h1 sec:authorize="!hasRole('user')">You do not have user role.</h1>
<h1 sec:authorize="hasRole('user')">Has admin Role</h1>
<div style="text-align:center">
<table class="table">
  <thead>
    <tr>
      <th colspan="3" scope="col">
      <span th:text="${item.name}"></span>
      </th>
    </tr>
  </thead>
  <tbody>
  <tr>
  <td>
	<span th:text="${item.detail}"></span>
  </td>
  </tr>
  
  <tr>
  <td colspan="3">
<div th:if="${not #lists.isEmpty(fileList)}">
  <label for="input-type-4">File</label>
  <div class="col-sm-10">
    <th:block th:each="row, status: ${fileList}">
<!--       <a th:href="@{/board/'+${category}+'/download(idx=${row.idx})}">
        <i aria-hidden="true"></i>
        [[${row.originalName}]]
      </a> -->
        [[${row.originalName}]]
      <br />
    </th:block>
  </div>
</div>
  </tr>

  </tbody>
</table>
</div>
<div >
    <form id="addToCartForm">
        <select id="quantity" name="quantity">
            <option th:each="option : ${#numbers.sequence(1, item.stock)}" th:value="${option}" th:text="${option}"></option>
        </select>
	<button type="button" onclick="addCartItem()">장바구니에 담기</button>
    </form>

<div style="float:left">
<button type="button" onclick="goBack()" class="btn btn-secondary">목록</button>
</div>
<div style="float:right">
<div sec:authorize="isAuthenticated()">
<button type="button" id="deletePost" class="btn btn-danger" onclick="delete_button()">삭제</button>
<!-- <a class="btn btn-success"  th:href="@{'/board/'+${category}+'/edit?idx='+${post.idx}}">수정</a> -->

</div>
</div>
</div>

</body>



<script th:inline="javascript">




$(function () {
  var token = $("meta[name='_csrf']").attr("content");
  var header = $("meta[name='_csrf_header']").attr("content");
  $(document).ajaxSend(function(e, xhr, options) {
      xhr.setRequestHeader(header, token);
  });
  
 
  
	var loginUserName = null;
	var loginUserEmail = null;
	var loginUserLongid = null;
	var loginUserauthority = null;
 
	$.ajax({
		url: '/member/current',
		type: 'GET',
		success: function(user){
			loginUserName = user.username;
			loginUserEmail = user.email;
			loginUserLongid = user.id;
			loginUserauthority = user.roles;
			console.log(loginUserName);
			console.log(loginUserEmail);
			console.log(loginUserLongid);
			console.log(loginUserauthority[0]);
		},
		error: function(){
			console.log('로그인 상태가 아닙니다.');
		}
	});
	
});

	function delete_button(){
		var itemId = parseInt([[${item.id}]]);
		$.ajax({
		method: "DELETE",
		url: "/shop/delete/"+itemId,
		data: {
			itemId : itemId
		},
		success: function(data){
			alert(data);
			window.location.replace("http://14.47.220.34:8081/home");
		},
		error: function(request,status,error) {
	    	  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	    	  console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	      }
	});	
}
	
	
function goBack(){
	window.history.back();
}

function addCartItem(){
	var ItemId = parseInt([[${item.id}]]);
	var quantity = $("#quantity").val();
	$.ajax({
		method: "POST",
		url:"/cartItem/add",
		data:{
			ItemId : ItemId,
			count : quantity
		},
		success: function(data){
			alert(data);
			window.location.replace("http://14.47.220.34:8081/home");
		},
		error: function(request,status,error) {
	    	  alert("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	    	  console.log("code:"+request.status+"\n"+"message:"+request.responseText+"\n"+"error:"+error);
	      }		
	});
}




</script>

</html>