<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta name="_csrf" th:content="${_csrf.token}"/>
	<!-- default header name is X-CSRF-TOKEN -->
	<meta name="_csrf_header" th:content="${_csrf.headerName}"/>
	<!-- ... -->
<script src="https://code.jquery.com/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}">
</head>
<body>
<div th:replace="/fragments/header.html :: fragment-header"></div>
  <div th:replace="/fragments/nav.html :: fragment-nav"></div>
<h1 sec:authorize="!hasRole('user')">You do not have user role.</h1>
<h1 sec:authorize="hasRole('user')">Has admin Role</h1>
  <h1>장바구니</h1>
  
<table>
  <thead>
    <tr>
      <th style="width: 100px;">이미지</th>
      <th style="width: 150px;">상품명</th>
      <th style="width: 100px;">가격</th>
      <th style="width: 100px;">수량</th>
      <th style="width: 100px;">합계</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="itemList : ${itemList}">
      <td><a th:href="@{'/shop/get?id='+${itemList.item.id}}">
        <img th:src="@{'/shop/getImage/' + ${itemList.item.fileLists[0].saveName} + '?uploadDate=' + ${itemList.item.fileLists[0].createdDate}}" alt="Image" width="100" height="100" />
      </a></td>
      <td th:text="${itemList.item.name}"></td>
      <td th:text="${itemList.item.price}"></td>
      <td th:text="${itemList.count}"></td>
      <td th:text="${itemList.count}*${itemList.item.price}"></td>
    </tr>
  </tbody>
</table>
  
  <p>총 가격: {{totalPrice}}</p>
  
  <button>주문하기</button>
</body>
</html>